#navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-left: 25px;
    padding-bottom: 5px;
 }
#searchbar {
    
    flex-wrap: nowrap;
    padding-left: 10px;
    padding-right: 0px;
    display: inline-flex;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 4px;
    border-radius: 25px;
    border: solid 1.5px rgb(214, 213, 213);
    justify-content: space-between;
    width: 42%;
    height: 45px;

}
#buttondiv {
    display: flex;
    flex-flow: row nowrap;
    width: 300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    justify-content: space-evenly;
    white-space: nowrap;
    
}

.nav1{
    padding-top: 20px;
    word-spacing: 15px;
}
.nav2 {
    padding-top: 13px;
    padding-right: 0px;
    word-spacing: 13px;
}

p {
    font-size: 14px;
    margin-left: auto; 
    margin-right: auto;
}
#navbutton {
    padding:5px 23px;
}

#googleimg {
    display:block;
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.placeholder {
    border-width: 0px;
    width: 35%;
    height: 35px;
    flex-grow: 3;
    margin-left: 5px;
   
}

.magglass {
    margin-top: 11px;
    margin-left: 4px;
}

.mic{
    margin-top: 10px;
    margin-right: 10px;
}
#google_search {
    border-width: 0px;
    background-color: rgb(236, 235, 235);
    border-radius: 5px;
    margin: 15px;
    width: 50%;
    height:35px;
    padding: 3px;
    font-size: 13px;
    display: inline-block;
}

.actionlink {
    text-align: center;
    margin-top: 20px;  
    width: 600px;
    border-radius: 5px;
    flex-wrap: nowrap;
    font-size: 14px;
    position: relative;
}
#footer {
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    background-color: lightgray;
    align-items: center;
    height: 5%;
    flex-wrap: nowrap;
    min-width: fit-content;
    overflow-wrap: break-word;

}
#footer-carbon {
    padding-top: 18px;
    flex-wrap: nowrap;
    width: 400px;
    text-align: center;
    flex-grow: 4;
    color: lightslategray;
    min-width:250px;
    overflow-wrap: break-word;
}
.footer-flex {
    padding-top: 18px;
    width:30px;
    flex-wrap: nowrap;
    color: lightslategray;
    flex-grow: 1;
    font-size: 12px;
    white-space: nowrap;
    min-width: fit-content;
    overflow-wrap: break-word;
}